<div class="col-xs-12 text-right">
<%= form_with model: [board, board_comment], data: {remote: true} do |form| %>
   <%= form.text_area :comment, placeholder: "200文字以内", class: "board-comment-form" %>
   <%= form.submit "コメント", class: "btn btn-danger image-tag" %>
<% end %>
</div>