<div class="col-xs-12 text-right">
<%= form_with(model: [board, board_comment]) do |form| %>
   <%= form.text_area :comment, size: "40×40" %>
   <%= form.submit "コメント", class: "btn btn-danger image-tag" %>
<% end %>
</div>