<!DOCTYPE html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>ようこそ <%= @user.name %> 様</h1>
  <p>ご登録いただきましてありがとうございます。</p>
  <p>このサイトでは、お気に入りのスタイルをマイページに登録できたり、<br>
  掲示板などを使って、相談などもできます。ぜひ利用してみましょう</p>
</body>
</html>