<div class="row main-back">
  <div class="col-xs-12 text-center bottom-set">
    <h2><strong>ジャンル編集画面</strong></h2><br>
    <%= form_for [:admins, @jenre] do |f| %>
      <div class="field botton-b">
        <p><strong>ジャンル</strong></p>
        <%= f.text_field :name, class: "text-pas" %>
        <%= f.submit "保存", class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>