/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

header {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid;
}
.nav {
	margin-top: 20px;
}
.navbar-left {
	margin-top: 20px;
}
.nav-center {
	text-align: center;
}
footer {
    color: white;
    width: 100%;
    display: block;
    background-color: black;
    position: absolute;
    // bottom: 0;
    text-align: center;
}
.footer-text {
	margin: 20px auto;
	color: white;
	font-size: 15px;
}
.hamburger {
	flex: 0 0 32px;
	text-align: right;
	float: right;
}

/* メニュー */
#naver {
    padding: 24px 24px 0 24px;
    background: #000;
    color: white;
}
#naver ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#naver li a {
    display: block;
    padding: 0.75rem 0;
    border-bottom: 1px solid #114d60;
    text-decoration: none;
    color: #fff;
}
#naver li a:hover {
    background: #0e3e4d;
}
#naver .logo {
    margin-bottom: 20px;
}
#naver {
    position: fixed;
    right: -270px;
    top: 0;
    width: 270px;
    height: 100%;
}
/* ドロワーが開かれたときのスタイル */
.show {
    transform: translate3d(-270px, 0, 0);
}
/* 開く・閉じるアニメーション */
#wrapper, #naver {
    transition: transform 0.3s;
}
