/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #e3e3e3;
}
// header footer デザイン
header {
  width: 100%;
  height: 100px;
  background-color: #252525;
  border-bottom: 1px solid;
}
.nav {
	margin-top: 20px;
}
.navbar-left {
	margin-top: 20px;
}
.nav-center {
	text-align: center;
}
footer {
    color: white;
    width: 100%;
    display: block;
    background-color: #252525;
    position: absolute;
    // bottom: 0;
    text-align: center;
}
.footer-menu {
  padding-top: 5px;
}
.footer-menu li {
  display: inline;
  color: #e3e3e3;
}
.footer-text {
	margin: 20px auto;
	color: white;
	font-size: 15px;
}
// ドロワー機能
.hamburger {
	flex: 0 0 32px;
	text-align: right;
	float: right;
	margin-top: 10px;
}
#naver {
    padding: 24px 24px 0 24px;
    background: #252525;
    color: white;
}
#naver ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#naver li a {
    display: block;
    padding: 0.75rem 0;
    border-bottom: 1px solid #114d60;
    text-decoration: none;
    color: #fff;
}
#naver li a:hover {
    background: #0e3e4d;
}
#naver .logo {
    margin-bottom: 20px;
}
#naver {
    position: fixed;
    right: -270px;
    top: 0;
    width: 270px;
    height: 100%;
}
// ドロワーが開かれたときのスタイル
.show {
    transform: translate3d(-270px, 0, 0);
}
// 開く・閉じるアニメーション
#wrapper, #naver {
    transition: transform 0.3s;
}
// アニメージョン hover時(ハンガー) マイページスタイル一覧
.effect-float a {
  display: block;
  height:30px;
  box-shadow: 0 2px 4px rgba(3,3,3,.09);
  border-radius: 3px;
}
.effect-float a:hover {
  display: block;
  height: 30px;
  box-shadow: 2px 10px 12px rgba(0,0,0,.12);
  border-radius: 3px;
  margin-top:-5px;
}
.link-text {
  color: #e3e3e3;
}

.tops-main {
  border: 1px dashed white;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  margin-top: 60px;
  background-color: #252525;
  color: white;
}
.bottom-b {
  margin-bottom: 20px;
}
.top-logo {
  background-image: image-url("trees-logo.jpg");
  background-size: cover;
  width: 200px;
  height: 50px;
}
.toriger {
  background-image: image-url("hamburgers.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}
.top-top {
  background-image: image-url("top.jpg");
  background-size: cover;
  width: 50px;
  height: 50px;
}
.logo-triger {
  background-image: image-url("trees-logo.jpg");
  background-size: cover;
  width: 100px;
  height: 20px;
}
// topスライド
#container{
  height: 700px;
}
.image1 {
background-image: image-url("mains-image1.jpg");
}
.image2 {
background-image: image-url("mains-image2.jpg");
}
.image3 {
background-image: image-url("mains-image3.jpg");
}
.image4 {
background-image: image-url("mains-image4.jpg");
}

.title-text {
  padding: 20px auto;
  border-bottom: 3px solid #969696;
}
.image-box {
  margin: 30px;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  background-image: image-url("mens.jpg");
  background-size: cover;
  height: 320px;
  width: 320px;
}
.image-box2 {
  margin: 30px;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  background-image: image-url("ladies.jpg");
  background-size: cover;
  height: 320px;
  width: 320px;
}
.image-box3 {
  margin: 30px;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  background-image: image-url("about1.jpg");
  background-size: cover;
  height: 250px;
  width: 420px;
}
.image-box4 {
  margin: 30px;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  background-image: image-url("about2.jpg");
  background-size: cover;
  height: 250px;
  width: 420px;
}
.contact-body {
  width: 300px;
  color: black;
}
.bottom-set {
  margin: 100px 0;
}
.botton-b {
  margin-top: 30px;
}
.follow-botton {
  margin-top: 30px;
  margin-bottom: 10px;
}
.top-b {
  margin-top: 30px;
}
.text-pas {
  color: black;
}
.botton-d {
  margin-top: 30px;
  width: 60%;
}
.flash {
  width: 100%;
  text-align: center;
}
.text-contact {
  font-size: 15px;
  color: #969696;
  margin-top: 10px;
}
.image-tag-contact {
  margin: 20px 0 100px 0;
  width: 300px;
}

// アニメーション
.slide-left {
  animation-name: RightToLeft;/* アニメーション名 */
  animation-duration: 2s;/* アニメーション時間 */
}
/*右から左*/
@keyframes RightToLeft {
0% {
    opacity: 0;/* 透明 */
    transform: translateX(50px);/* X軸方向に50px */
}
100% {
    opacity: 1;/* 不透明 */
    transform: translateX(0);/* X軸方向に0px */
}
}

#parent {
  position: relative;
}
#parent img {
  transition: all 500ms 0s ease;
  position: absolute; top: 0; left: 0;
}
.on {
  opacity: 1;
}
.off {
  opacity: 0;
}

.box img {
  text-align: center;
  -webkit-transition: all 1s;
  -webkit-transform: scale(1.0);
  opacity: 1;
}
.box img.move {
  -webkit-transform: translate(0, 0)  scale(0.5);
  opacity: 0;
}
// 画像拡大
.effect-scale {
 overflow: hidden;
 width: 300px;
 height: 200px;
}
.effect-scale img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.effect-scale img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.box-efect img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.box-efect img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 0px 8px 12px rgba(0,0,0,0.6);
}

.effect-color {
  background: #ffafbd;
}
.effect-color img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.effect-color img:hover {
  opacity: .8;
}
.imageList__view img {
  width: 340px;
  height: 400px;
}
.imageList__thumbnail img {
  width: 120px;
  height: 160px;
}


// マイページ
.text-user {
  font-size: 18px;
}
.main-tex {
  margin: 80px;
  border-bottom: 2px solid #969696;
}
.main-tex2 {
  margin-top: 50px;
  margin-bottom: 20px;
  border-bottom: 2px solid #969696;
  background: image-url("button.jpg");
  background-size: cover;
  color: #e3e3e3;

}
.profile-image {
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
}
.profile-image-white {
  box-shadow: 1px 8px 12px #969696;
}
.style-profile {
  width: 80px;
  height: 100px;
}
.botton-date {
  margin-top: 30px;
  width: 40%;
}
.botton-salon {
  margin-top: 10px;
}
.salon-box {
  height: 300px;
  background-color: #222222;
  overflow: scroll;
  margin: 0 auto;
  color: #e3e3e3;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  border: 1px dashed white;
  padding-top: 10px;
}
.syadow {
  border: 2px solid;
}
.image-tag {
  margin: 20px auto;
  width: 55%;
}
.my-edit {
  width: 100%;
}
.my-top {
  margin-top: 15px;
}
.my-top-main {
  border-bottom: 2px solid #969696;
  margin-bottom: 30px;
}
.my-top-main-follow {
  border-bottom: 2px solid #969696;
  margin-bottom: 30px;
  background-color: #222222;
  border-radius: 20px;
  color: #e3e3e3;
}
.follow-color {
  color: #e3e3e3;
}
.pre {
  width: 250px;
  height: 300px;
  background-size: cover;
}
.pres {
  width: 300px;
  height: 250px;
  background-size:  cover;
}
.dis {
  display: flex;
  margin: 0 auto;
}

.btn-danger {
  background: image-url("button.jpg");
  background-size: cover;
}
.text-style {
  font-size: 13px;
  margin-top: 15px;
  background: image-url("button.jpg");
  background-size: cover;
  color: #e3e3e3;
}
.text-styles {
  font-size: 13px;
  margin-top: 15px;
  padding: 10px;
  background-color: #222222;
  color: #e3e3e3;
  border: 1px dashed white;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
}
.text-style-mini {
  font-size: 11px;
}

.stylei {
  width: 180px;
  height: 230px;
  background-size: cover;
}
.image-tag_style {
  margin: 20px auto;
  width: 60%;
}
.style-main {
  background: image-url("button.jpg");
  background-size: cover;
  color: #e3e3e3;
}
.style-image {
  float: left;
}
.style-images {
  display: flex;
}

.bottom-box {
  margin-bottom: 30px;
}

.lab {
  margin-right: 10px;
}
.labb {
  margin-right: 10px;
  font-size: 13px;
}
.my-styles-user {
  width: 100%;
  overflow: auto;
  height: 600px;
  padding: 0 50px;
}
.my-styles {
  width: 100%;
  overflow: auto;
  height: 600px;
  padding: 0 60px;
}
.my-styles2 {
  width: 100%;
  overflow: auto;
  height: 1750px;
  padding: 0 60px;
}
.scloll-top {
  overflow: scroll;
  height: 600px;
}

.my-style-main {
  border-bottom: 2px solid #969696;
  margin-bottom: 10px;
}

.style-userb {
  font-size: 13px;
}
.botton-b {
  margin-top: 30px;
}
.stylistb {
  margin-left: 10px;
}

// ジャンル
.panel-im {
  color: #e3e3e3;
  background: image-url("button.jpg");
  padding: 2px 0;
  border-bottom: 1px solid transparent;
  text-align: center;
  font-size: 12px;
}
.jenre-text {
  color: #e3e3e3;
}
.panel-body {
  background-color: #252525;
}
.panel-color {
  border-color: #e3e3e3;
  border-width: thin;
  font-size: 12px;
}
.image-box-index {
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  background: image-url("mens.jpg");
  background-size: cover;
  width: 100px;
  height: 100px;
}
.image-box-index2 {
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  background: image-url("ladies.jpg");
  background-size: cover;
  width: 100px;
  height: 100px;
}
.index-status {
  background-color: #252525;
  height: 100%;
  padding-bottom: 500px;
  border: 1px dashed white;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
}
.index-top {
  margin-top: 30px;
  margin-bottom: 10px;
}
.style-main-visual {
  margin: 10px auto;
  padding-bottom: 20px;
  background-color: #252525;
  border: 1px dashed white;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  color: white;
}

// 掲示板
.profile-image-board {
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  width: 80px;
  height: 80px;
  border-radius: 35px;
}
.board-title {
  font-size: 20px;
  border-bottom: 2px solid #969696;
} 
.bord-con {
  border-bottom: 2px solid #969696;
  margin-bottom: 10px;
  font-size: 18px;
}
.board-main {
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 35px;
  border: 1px dashed white;
  background-color: #252525;
  color: #e3e3e3;
}
.bottom-pa {
  padding-top: 10px;
}
.board-table {
  margin-bottom: 20px;
  border-bottom: 3px solid blue;
}
.my-styles-board {
  width: 100%;
  overflow: auto;
  height: 1000px;
  margin-bottom: 50px;
  color: #e3e3e3;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  border: 1px dashed white;
  background-color: #252525;
  padding: 20px;
}
.comment-count {
  margin-top: 10px;
  font-size: 10px;
  color: white;
  background-color: black;
  border-radius: 20px;
}
.comment-t {
  background-color: black;
  color: white;
  margin-bottom: 30px;
  border-radius: 20px;
}

.follow-no-image {
  width: 70px;
  height: 70px;
}

.chat {
  background-color: #969696;
}
.chattop {
  background-color: #252525;
  background-size: cover;
  color: white;
  border-radius: 20px;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
}
.chatbox {
  overflow: auto;
  height: 1000px;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  margin: 30px auto;
  border-radius: 20px;
  padding: 30px;
  background-color: #969696;
  border: 2px solid black;
}
.content {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  margin: 40px auto;
  padding: 10px;
}
.chat-taxt {
  margin-top: 5px;
  background-color: #252525;
  width: 25%;
  float: right;
  border-radius: 20px;
  padding: 5px;
  color: white;
}
.chat-field {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  border: 1px solid black;
}
.room-users {
  background-color: #969696;
  border-radius: 20px;
  width: 200px;
  margin: 10px auto;
}
.room-users-text {
  color: #252525;
}
.rooms-user {
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
  height: 200px;
  overflow: auto;
  margin-top: 10px;
  background-color: #252525;
  border: 1px dashed white;
}

// 管理者
.admin-users {
  background-color: #252525;
}
.admin-user-box {
  overflow: auto;
  height: 350px;
}
.search-user {
  color: #252525;
}
.user-main-text {
  background-color: #252525;
  padding: 5px 10px;
  border-radius: 20px;
}
.back-black {
  background-color: #252525;
  margin: 10px auto; 
}
.admin-user-items {
  border-bottom: 1px dashed white;
  margin-bottom: 30px;
}
// 管理者情報
.graph {
  background-color: white;
}
.graph-main {
  margin: 30px 0 20px 0;
  background-color: #252525;
  color: white;
  padding: 20px;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
}
.admins-top {
  margin: 20px 0 10px 0;
  background-color: #252525;
  color: white;
  border-radius: 20px;
}
.admins-tops {
  margin-bottom: 40px;
  background-color: #252525;
  color: white;
  border-radius: 20px;
}
.today-date {
  margin: 30px auto;
  border-bottom: 1px dashed white;
}
.botton-graph {
  padding: 10px;
  background-color: #969696;
  border-radius: 20px;
  color: white;
}
.today-main {
  height: 370px;
}
.main-back {
  background-color: #969696;
  color: #e3e3e3;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
}
.admin-user-main {
  margin-bottom: 10px;
  border: 1px dashed white;
  box-shadow: 1px 8px 12px rgba(0,0,0,0.6);
}
