// Place all the styles related to the styles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
margin-right: auto;
margin-left: auto;
max-width: 100%;
}

.ranking-box {
	width: 90%;
}

.styles-box {
	width: 95%;
}

.boxes {
	width: 150px;
	height: 230px;
	float: left;
	margin: 0 20px;
}

.crown-image {
	background: image-url("crown4.png");
	width: 40px;
	height: 40px;
	background-size: cover;
}

.crown-image1 {
	background: image-url("crown1.png");
	width: 40px;
	height: 40px;
	background-size: cover;
}

.crown-image2 {
	background: image-url("crown2.png");
	width: 40px;
	height: 40px;
	background-size: cover;
}

.crown-image3 {
	background: image-url("crown3.png");
	width: 40px;
	height: 40px;
	background-size: cover;
}

.crown-text {
	color: white;
	text-shadow:
       2px  2px 1px #003366,
      -2px  2px 1px #003366,
       2px -2px 1px #003366,
      -2px -2px 1px #003366,
       2px  0px 1px #003366,
       0px  2px 1px #003366,
      -2px  0px 1px #003366,
       0px -2px 1px #003366;
}
